[Unit]
Description=Deadline Bot (aiogram)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/deadline_bot
ExecStart=/opt/deadline_bot/.venv/bin/python -m app.main
Restart=on-failure
RestartSec=5
User=www-data
Group=www-data
# stdout/stderr в journalctl
StandardOutput=journal
StandardError=journal
# Опционально: ограничение ресурсов
# MemoryMax=300M

[Install]
WantedBy=multi-user.target
